<div>
  <h1> My Diary </h1>
</div>

<form action="/new-entry" method="get">
<input type="submit" value="Create a new entry">
</form>

<form action="/show-all" method="get">
<input type="submit" value="Show all diary entries">
</form>